Source: yyds
Section: metapackages
Priority: extra
Maintainer: YoyoOS <support@yoyoos.com>
Build-Depends:
Standards-Version: 4.5.0
Homepage: https://yoyoos.com

Package: yyds
Architecture: any
Depends: yoyo-calculator, yoyo-core, yoyo-dock, yoyo-filemanager, yoyo-desktop, yoyo-launcher, yoyo-kwin-plugins, yoyo-qt-plugins, yoyo-screenlocker, yoyo-wallpapers, yoyo-settings, yoyo-icons, yoyo-gtk-themes, yoyo-sddm-theme, yoyo-cursor-themes, yoyo-plymouth-theme, appmotor, yoyo-daemon, yoyo-updator, fishui, libyoyo, fonts-noto, fonts-noto-mono, desktop-file-utils
Recommends: yoyo-screenshot, yoyo-videoplayer, yoyo-debinstaller, yoyo-terminal, yoyo-texteditor, pppoe, smbclient, wireless-tools, pulseaudio-module-bluetooth, yoyo-ocr
Description: YoyoOS Meta Packages.
